
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model List<marketplace.PlayGamesHistory>


<div class="banner swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
        <div class="swiper-slide">
            <img src="~/Assets/publics/images/banner.png" width="100%" alt="">
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>


<div class="game">
    <b>Nhiệm vụ</b>
    <div class="list-mini-game">
        <div class="item-mini">
            <div class="top">
                <button>
                    <a href="/nhiem-vu">
                        <img src="/Assets/publics/images/youtobe.png" alt="" width="100%">
                    </a>
                </button>
            </div>
        </div>
        <div class="item-mini">
            <div class="top">
                <button>
                    <a href="/nhiem-vu">
                        <img src="/Assets/publics/images/insta.png" alt="" width="100%">
                    </a>
                </button>
            </div>
        </div>
        <div class="item-mini">
            <div class="top">
                <button>
                    <a href="/nhiem-vu">
                        <img src="/Assets/publics/images/tiktok.png" alt="" width="100%">
                    </a>
                </button>
            </div>
        </div>
        <div class="item-mini">
            <div class="top">
                <button>
                    <a href="/nhiem-vu">
                        <img src="/Assets/publics/images/zing.png" alt="" width="100%">
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="list-donate">
    <b class="title">đơn donate gần đây</b>

    <div class="swiper mySwiper donate">
        <div class="swiper-wrapper">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="item-order swiper-slide col-4">
                        <div class="detail-item">
                            <b class="col-5">Mã đơn:</b>
                            <p class="col-7">@item.SessionId</p>
                        </div>
                        <div class="detail-item">
                            <b class="col-5">Thời gian:</b>
                            <p class="col-7">@item.CreatedDate</p>
                        </div>
                        <div class="detail-item">
                            <b class="col-5">Đặt cược:</b>
                            <p class="col-7">@item.Amount</p>
                        </div>
                        <div class="detail-item">
                            <b class="col-5">Nhiệm vụ:</b>
                            <p class="col-7">@item.ValueString</p>
                        </div>
                        <div class="detail-item">
                            <b class="col-5">Lợi nhuận:</b>
                            <p class="col-7">@item.TotalRow</p>
                        </div>
                    </div>
                }
            }
            else
            {

                <div class="item-order swiper-slide col-4">
                    <div class="detail-item">
                        <b class="col-5">Mã đơn:</b>
                        <p class="col-7">SM-1234-CS</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Thời gian:</b>
                        <p class="col-7">2023-05-05 12:12</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Đặt cược:</b>
                        <p class="col-7">9.000 đ</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Nhiệm vụ:</b>
                        <p class="col-7">xem Youtube</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Lợi nhuận:</b>
                        <p class="col-7">20.000</p>
                    </div>
                </div>
                <div class="item-order swiper-slide col-4">
                    <div class="detail-item">
                        <b class="col-5">Mã đơn:</b>
                        <p class="col-7">SM-1235-CS</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Thời gian:</b>
                        <p class="col-7">2023-05-06 02:14</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Đặt cược:</b>
                        <p class="col-7">100.000 đ</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Nhiệm vụ:</b>
                        <p class="col-7">nghe nhạc</p>
                    </div>
                    <div class="detail-item">
                        <b class="col-5">Lợi nhuận:</b>
                        <p class="col-7">13.000</p>
                    </div>
                </div>

            }

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<div class="messager">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-sm product mb-3">
                    <div class="card-body p-0">
                        <div class="row gx-2 px-3 py-2">
                            <div class="col-3">
                                <input type="radio" id="radioCheckedAll" checked name="radioChecked" class="form-check-input" hidden />
                                <label class="btn btn-all btn-item active" for="radioCheckedAll">Tất cả</label>
                            </div>
                            <div class="col-4">
                                <input type="radio" id="radioCheckedMyAccount" name="radioChecked" class="form-check-input" hidden />
                                <label class="btn btn-user btn-item" for="radioCheckedMyAccount">Của tôi</label>
                            </div>
                        </div>
                        <div class="h-300 overflow-scroll">
                            <ul class="list-group list-group-flush bg-none" id="listHistoryPlayWin">
                                @Html.Partial("HistoryWin")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
