@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thông tin tài khoản";
    var memberSession = PTEcommerce.Web.Models.SessionCustomer.GetUser();
    var listBank = (List<marketplace.Banks>)ViewBag.ListBank;
    var accountData = (marketplace.AccountCustomer)ViewBag.Account;
}


@if (memberSession != null)
{

    <div class="container-fluid">
        <div class="info-user col-12 row mb-2">
            <div class="col-3 avatar">
                <img src="~/Assets/publics/images/avata.png" width="80%" alt="">
            </div>
            <div class="col-9 user-name justify-content-center">
                <b>
                    <a class="text-white" href="">@memberSession.Username</a>
                </b>
                <p class=" text-white">
                    Số dư: <span class="moneyReload"></span>
                </p>
            </div>
        </div>
        <div class="form">
            <form>
                <div class="item-input">
                    <label for="name" class="col-4">Họ và tên:</label>
                    <input type="text" value="@accountData.FullName" class="col-8" id="inputFullName">
                </div>
                <div class="item-input">
                    <label for="name" class="col-4">Số điện thoại</label>
                    <input value="@accountData.PhoneNumber" inputmode="numeric" id="inputPhoneNumber" class="col-8">
                </div>
                <div class="col-12 mb-3">
                    <div class="item-input">
                        <label class="col-4" for="address2">Giới tính</label>
                        <select class="col-8" id="sltGender">
                            <option value="Nam" @(accountData.Gender == "Nam" ? "selected" : "")>Nam</option>
                            <option value="Nữ" @(accountData.Gender == "Nữ" ? "selected" : "")>Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="item-input">
                        <label class="col-4" for="sltBank">Ngân hàng:</label>
                        <select class="col-8" id="sltBank">
                            <option>Chọn ngân hàng</option>
                            @if (listBank != null && listBank.Count > 0)
                            {
                                foreach (var item in listBank)
                                {
                                    <option value="@item.Id" @(item.Id == accountData.Id ? "selected" : "")>@item.BankName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="item-input">
                    <label for="bank-accont" class="col-4">Số tài khoản:</label>
                    <input type="text" class="col-8" value="@accountData.BankNumber" id="inputBankNumber">
                </div>
                <div class="item-input">
                    <label for="bank-accont" class="col-4">Chủ tài khoản:</label>
                    <input type="text" class="col-8" value="@accountData.BankAccount" id="inputBankAccount">
                </div>

                <div class="item-button">
                    <button type="button" onclick="updateInformation()" id="btnUpdateInformation">Sửa đổi</button>
                </div>
            </form>
        </div>

    </div>
        <script>

            // SLIDER

            // NAV LEFT START
            $(document).ready(function () {

                $(".btn-nav").click(function () {
                    $(".left-bar").addClass("active");
                    $("body").addClass("active");
                });

                $(".background-left-bar").click(function () {
                    $(".left-bar").removeClass("active");
                    $("body").removeClass("active");
                });

                let a = $("#inputFullName").val() == null;
                let b = $("#inputFullName").val() == "";

                if (a || b) {
                    $("#btnUpdateInformation").html("Xác nhận")
                }

            });
            // NAV LEFT END

            function updateInformation() {
                $.ajax({
                    url: '/cap-nhat-thong-tin',
                    type: 'post',
                    data: {
                        BankId: $('#sltBank').val(),
                        BankAccount: $('#inputBankAccount').val(),
                        BankNumber: $('#inputBankNumber').val(),
                        PhoneNumber: $('#inputPhoneNumber').val(),
                        FullName: $('#inputFullName').val(),
                        Gender: $('#sltGender').val()
                    },
                    beforeSend: function () {
                        $('#btnUpdateInformation').prop('disabled', true);
                    },
                    success: function (res) {
                        $('#btnUpdateInformation').prop('disabled', false);
                        if (res.status) {
                            base.success(res.msg);
                            $("#btnUpdateInformation").html("Sửa đổi")
                        }
                        else {
                            base.error(res.msg);
                        }
                    }
                });
            }

        </script>
}